{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="#">{{ relationship.relation_id }}</a>
                      {% if relationship.userID_1 == current_user %}
                        <div>
                          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_family', relation_id = relationship.relation_id) }}">Update</a>
                          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </div>
                      {% endif %}
                    </div>
                    <h2 class="article-title">{{ relationship.userID_2 }}</h2>
                    <p class="article-content">{{ relationship.dtr }}</p>
                  </div>
        </fieldset>
</div>
<div class="border-top pt-3">
</div>
</form>
{% endblock content %}